$primary: #fc732f ;
$body-bg-dark: #272727ff; 
$body-secondary-bg-dark:  #323232ff;
$body-tertiary-bg-dark:  #101010ff;
$secondary:    #666666ff ;

@import "../node_modules/bootstrap/scss/bootstrap.scss";

